.service-card {
  transition: 0.5s all ease-in-out;
}

.service-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.service-card img {
  transition: 0.5s all ease-in-out;
}

.service-card:hover img {
  transform: scale(1.05);
}

.text-justify {
  text-align: justify;
}
